.header-layout {
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-layout {
  text-align: center;
  height: 5vh;
  background-color: #333;
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.principal {
  position: relative;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 3rem;
}

button {
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  padding: .5rem;
  border: solid 1px #e5e5e5;
}

button:hover {
  background-color: #e5e5e5;
}
  