.container-layout {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.title {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;  
  font-size: 2rem;
  background-color: #fff;
  font-weight: bold;
}

.footer-layout {
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.principal {
  position: relative;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: 82vh;
  overflow-y: scroll;
}

button {
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  padding: .5rem;
  border: solid 1px #e5e5e5;
}

button:hover {
  background-color: #e5e5e5;
}
  