.header-layout {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  height: 5vh;
  background-color: #333;
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.principal {
  position: relative;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

/* @media  (max-width: 480px) {
  .principal {
    margin-left: 1rem;
    margin-right: 1rem;
  }
} */


button {
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  padding: .5rem;
  border: solid 1px #e5e5e5;
}

button:hover {
  background-color: #e5e5e5;
}
  